* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Roboto";
}

body {
  background: linear-gradient(150deg, #0f2b05, #000000);
  height: 100vh;

  text-align: center;
}

header {
  padding: 75px 0;
}

.card {
  display: inline-block;
  width: 354px;
  height: 508px;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
}

.card > .cols > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #f7dd43;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-left: 5rem;
}

.cols {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  z-index: 1;
}
.stack {
  display: grid;
  margin-top: 35px;
  color: white;
  margin-left: 70px;
  text-align: left;
  grid-template-columns: 53px 1fr;
  height: 4rem;
  max-height: 4rem;
}
.stack-items {
  direction: rtl;
  font-size: 20px;
  padding: 0px 5px 0px 17px;
  justify-content: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  height: 55px;
}
.stack-item {
  width: 20px;
  height: 20px;
}
.project {
  margin-top: 2.2rem;
  margin-left: 6rem;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-left: 67px;
  padding-right: 12px;
}
#info-reverse {
  margin-top: 0px
}
.info {
  margin-top: 90px;
  color: white;
  margin-left: 102px;
  text-align: center;
}

.info h1 {
  font-size: 18px;
  line-height: 140%;
}

.info p {
  font-size: 14px;
  line-height: 160%;
}

@media screen and (max-width: 2000px) {
  .on-back > .cols {
    margin-left: -7px;
  }

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .cols {
    margin-left: -32px
  }
}